<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
   <meta charset="UTF-8"/>
   <title></title>
</head>
<body>

<form method="post" action="/user">
   <h1>Add Your Name to Our Sign Up Sheet</h1>
   <label>Username
      <input type="text" name="username" value="${username}"/>
   </label>
   <label>Email
      <input type="email" name="email" value="${email}"/>
   </label>
   <label>Password
      <input type="password" name="password"/>
   </label>
   <label>Verify
      <input type="password" name="verify"/>
   </label>
   <input type="submit" value="Submit"/>
</form>

</body>
</html>